* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background: #ddd;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.logo-wrapper img {
    width: 56px;
    cursor: pointer;
}

.container {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.nav-items-wrapper ul {
    display: flex;
    padding: 0;
}

.nav-items-wrapper ul li {
    padding: 10px 20px;
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}
.res-card {
    background: #dfdfdf;
    padding: 15px;
}

.res_container, .shimmer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.shimmer-card {
    background: #dfdfdf;
    width: 200px;
    height: 200px;
}
.res-card img {
    width: 100%;
    max-width: 100%;
}

.rate-time, .sort-container {
    display: flex;
    justify-content: space-between;
}
.sort-container {
    padding: 15px 0;
}
footer h2 {
    text-align: center;;
}